OPENROUTER_API_KEY =""

HOST = "0.0.0.0"
PORT =  8000
DEBUG = "true"

EMAIL = ""
PUBMED_API_KEY = ""


DOMAIN_DATA_PATH = ".\data\domain.json"
DOC_DB_PATH = ".\data\documents.db"
SJR_CSV_PATH = ".\data\scimagojr 2025.csv"