HOST = "0.0.0.0"
PORT =  8000
DEBUG = "False"

NCBI_EMAIL = ""
NCBI_API_KEY = "" #optional: dont include if its none

DOC_DB_PATH = "documents.db"
SJR_CSV_PATH = "scimagojr 2025.csv" # download csv from https://www.scimagojr.com/journalrank.php

SEED_QUERIES_PATH = "seed_queries.json"
QUERIES_PATH = ".\data\queries.json"

OUTPUT_DIR = ".\results"
EVAL_LOG_PATH = ".\logs\eval_log.csv"